# **CHALLANGE 1**

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
dataset = np.array([[20,100,54,34,345,10,45,94],[45,12,654,234,765,12,52,12]])

In [ ]:
df = pd.DataFrame({"Column1": dataset[0], "Column2": dataset[1]})
print(df)

   Column1  Column2
0       20       45
1      100       12
2       54      654
3       34      234
4      345      765
5       10       12
6       45       52
7       94       12

3rd Largest Value of Column1

In [ ]:
df["Column1"].nlargest(3).min()

94

5th Smallest Value of Column2

In [ ]:
df["Column2"].nsmallest(5).max()

52

# **Challange 2**

In [ ]:
list = np.array([[1,3,4,7]])

In [ ]:
list.cumsum()

array([ 1,  4,  8, 15])

# **Challange 3**

In [ ]:
def palindromeCheck(text):
  if (text == text[::-1]):
    return "\'" + text + "\'" + " is a Palindrome"
  else:
    return "\'" + text + "\'" + " is not a Palindrome"

In [ ]:
palindromeCheck("malam")

"'malam' is a Palindrome"

In [ ]:
palindromeCheck("ABBA")

"'ABBA' is a Palindrome"

In [ ]:
palindromeCheck("Python")

"'Python' is not a Palindrome"

# **Challange 4**

In [ ]:
buyer = ["Aldo", "Budi", "Cindy", "Dylan"]
items = [["Book", "Magazine"], ["Realme 8", "Screen Protector"], ["iPhone 11", "Power Bank"], ["Face Shield", "Mask", "Hand Sanitizer"]]

In [ ]:
df = pd.DataFrame({"Buyers": buyer, "Items Bought": items})
df

  Buyers                         Items Bought
0   Aldo                     [Book, Magazine]
1   Budi         [Realme 8, Screen Protector]
2  Cindy              [iPhone 11, Power Bank]
3  Dylan  [Face Shield, Mask, Hand Sanitizer]

In [ ]:
df.explode('Items Bought').reset_index(drop=True)

  Buyers      Items Bought
0   Aldo              Book
1   Aldo          Magazine
2   Budi          Realme 8
3   Budi  Screen Protector
4  Cindy         iPhone 11
5  Cindy        Power Bank
6  Dylan       Face Shield
7  Dylan              Mask
8  Dylan    Hand Sanitizer

# **Challange 5**

In [ ]:
item1 = ["Buku", "Buku", "Majalah", "iPhone", "iPhone", "Alat Tulis", "Mouse", "Keyboard"]
item2 = ["Majalah", "Koran", "Buku", "Charger", "Power Bank", "Buku", "Keyboard", "Mouse"]

In [ ]:
df = pd.DataFrame({"Item 1" : item1, "Item 2" : item2})
df

       Item 1      Item 2
0        Buku     Majalah
1        Buku       Koran
2     Majalah        Buku
3      iPhone     Charger
4      iPhone  Power Bank
5  Alat Tulis        Buku
6       Mouse    Keyboard
7    Keyboard       Mouse

In [ ]:
duplicates = df[pd.DataFrame(np.sort(df.values), columns=df.columns, index=df.index).duplicated(keep='first')]
duplicates

     Item 1 Item 2
2   Majalah   Buku
7  Keyboard  Mouse

In [ ]:
index = df.index

In [ ]:
index

RangeIndex(start=0, stop=8, step=1)

In [ ]:
duplicates.index.array

<PandasArray>
[2, 7]
Length: 2, dtype: int64

In [ ]:
df

       Item 1      Item 2
0        Buku     Majalah
1        Buku       Koran
2     Majalah        Buku
3      iPhone     Charger
4      iPhone  Power Bank
5  Alat Tulis        Buku
6       Mouse    Keyboard
7    Keyboard       Mouse

In [ ]:
df.drop(duplicates.index.array)

       Item 1      Item 2
0        Buku     Majalah
1        Buku       Koran
3      iPhone     Charger
4      iPhone  Power Bank
5  Alat Tulis        Buku
6       Mouse    Keyboard

# **Challange 6**

In [ ]:
import math

In [ ]:
def polynomialsq(a, b, c):
  disc = (b*b) - (4*a*c)
  
  if (b*b < 4*a*c):
    return "No Solution"
  
  else:
    res = (-b+math.sqrt(disc))/(2*a)
    return "X = " + str(int(res))

In [ ]:
polynomialsq(1, 2, 1)

'X = -1'

In [ ]:
polynomialsq(1, 1, 3)

'No Solution'